node-red/completo.json
[
    {
        "id": "81a5079558310f88",
        "type": "tab",
        "label": "smart-waste-mqtt",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "aba5270d52b12ec6",
        "type": "mqtt in",
        "z": "81a5079558310f88",
        "name": "Lixeira 1 - HiveMQ",
        "topic": "swms/lixeira1/data",
        "qos": "0",
        "datatype": "auto",
        "broker": "hivemq-broker",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 110,
        "y": 140,
        "wires": [
            [
                "ef3b73fbc219addb",
                "e986a7d8c67981c2"
            ]
        ]
    },
    {
        "id": "a071479a8e7a84fe",
        "type": "mqtt in",
        "z": "81a5079558310f88",
        "name": "Lixeira 2 - MQTT Dashboard",
        "topic": "swms/lixeira2/data",
        "qos": "0",
        "datatype": "auto",
        "broker": "mqttdashboard-broker",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 140,
        "y": 240,
        "wires": [
            [
                "c35babfdab1e6c6b",
                "7960b62565826b12"
            ]
        ]
    },
    {
        "id": "ef3b73fbc219addb",
        "type": "function",
        "z": "81a5079558310f88",
        "name": "Validar Lixeira 1",
        "func": "try {\n    var data = JSON.parse(msg.payload);\n    \n    if (typeof data.nivel_cm === 'undefined' || \n        typeof data.gas_mq2 === 'undefined' || \n        typeof data.alerta_led_on === 'undefined') {\n        throw new Error('Campos obrigatórios faltando');\n    }\n    \n    var now = new Date();\n    var manausOffset = -4 * 60;\n    var manausTime = new Date(now.getTime() + manausOffset * 60000);\n    \n    msg.payload = {\n        lixeira_id: \"lixeira1\",\n        dispositivo: \"ESP32-Lixeira-01\",\n        tipo: \"ultrassom_gas\",\n        nivel_cm: parseInt(data.nivel_cm),\n        gas_mq2: parseInt(data.gas_mq2),\n        alerta_led_on: data.alerta_led_on,\n        timestamp: manausTime.toISOString(),\n        timestamp_manaus: manausTime.toLocaleString('pt-BR', { timeZone: 'America/Manaus' }),\n        broker: \"HiveMQ\",\n        version: \"v3.0\"\n    };\n    \n    msg.status = \"validado\";\n    node.status({fill:\"green\",shape:\"dot\",text:\"Dados válidos\"});\n    return msg;\n    \n} catch (error) {\n    node.status({fill:\"red\",shape:\"ring\",text:\"Erro validação: \" + error.message});\n    msg.error = error.message;\n    return null;\n}",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 140,
        "wires": [
            [
                "d7297bc6c27b7482"
            ]
        ]
    },
    {
        "id": "c35babfdab1e6c6b",
        "type": "function",
        "z": "81a5079558310f88",
        "name": "Validar Lixeira 2",
        "func": "try {\n    var data = JSON.parse(msg.payload);\n    \n    if (typeof data.temperatura === 'undefined' || \n        typeof data.umidade === 'undefined' || \n        typeof data.peso_kg === 'undefined' ||\n        typeof data.tampa_aberta === 'undefined') {\n        throw new Error('Campos obrigatórios faltando');\n    }\n    \n    var now = new Date();\n    var manausOffset = -4 * 60;\n    var manausTime = new Date(now.getTime() + manausOffset * 60000);\n    \n    msg.payload = {\n        lixeira_id: \"lixeira2\",\n        dispositivo: \"ESP32-Lixeira-02\",\n        tipo: \"peso_temperatura\",\n        temperatura: parseFloat(data.temperatura),\n        umidade: parseFloat(data.umidade),\n        peso_kg: parseFloat(data.peso_kg),\n        tampa_aberta: data.tampa_aberta,\n        timestamp: manausTime.toISOString(),\n        timestamp_manaus: manausTime.toLocaleString('pt-BR', { timeZone: 'America/Manaus' }),\n        broker: \"MQTT Dashboard\",\n        version: \"v3.0\"\n    };\n    \n    msg.status = \"validado\";\n    node.status({fill:\"green\",shape:\"dot\",text:\"Dados válidos\"});\n    return msg;\n    \n} catch (error) {\n    node.status({fill:\"red\",shape:\"ring\",text:\"Erro validação: \" + error.message});\n    msg.error = error.message;\n    return null;\n}",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 240,
        "wires": [
            [
                "6f19c1d48053e8ea"
            ]
        ]
    },
    {
        "id": "d7297bc6c27b7482",
        "type": "function",
        "z": "81a5079558310f88",
        "name": "Processar Lixeira 1",
        "func": "var nivel_status = \"normal\";\nvar nivel_cor = \"green\";\nif (msg.payload.nivel_cm < 5) {\n    nivel_status = \"cheia\";\n    nivel_cor = \"red\";\n} else if (msg.payload.nivel_cm < 10) {\n    nivel_status = \"medio\";\n    nivel_cor = \"yellow\";\n}\n\nvar gas_status = \"normal\";\nvar gas_cor = \"green\";\nif (msg.payload.gas_mq2 > 800) {\n    gas_status = \"alto\";\n    gas_cor = \"red\";\n} else if (msg.payload.gas_mq2 > 500) {\n    gas_status = \"medio\";\n    gas_cor = \"orange\";\n}\n\nvar capacidade_percent = Math.max(0, Math.min(100, ((50 - msg.payload.nivel_cm) / 50) * 100));\n\nmsg.payload.nivel_status = nivel_status;\nmsg.payload.nivel_cor = nivel_cor;\nmsg.payload.gas_status = gas_status;\nmsg.payload.gas_cor = gas_cor;\nmsg.payload.capacidade_percent = Math.round(capacidade_percent);\nmsg.payload.alertas = [];\nmsg.payload.nivel_alerta = false;\nmsg.payload.gas_alerta = false;\n\nif (nivel_status === \"cheia\") {\n    msg.payload.alertas.push(\"🚨 Lixeira Cheia\");\n    msg.payload.nivel_alerta = true;\n}\nif (gas_status === \"alto\") {\n    msg.payload.alertas.push(\"⚠️ Nível de Gás Alto\");\n    msg.payload.gas_alerta = true;\n}\nif (msg.payload.alerta_led_on) {\n    msg.payload.alertas.push(\"🔴 LED de Alerta Ativo\");\n}\n\nmsg.payload.saude_score = 100;\nif (msg.payload.nivel_alerta) msg.payload.saude_score -= 30;\nif (msg.payload.gas_alerta) msg.payload.saude_score -= 20;\nif (msg.payload.alerta_led_on) msg.payload.saude_score -= 10;\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 670,
        "y": 140,
        "wires": [
            [
                "dbf4ad836966fa41",
                "33e35195155d0cf2",
                "4623732bc32489ca",
                "25f31402ca612319",
                "c2350dca09288a20"
            ]
        ]
    },
    {
        "id": "6f19c1d48053e8ea",
        "type": "function",
        "z": "81a5079558310f88",
        "name": "Processar Lixeira 2",
        "func": "var peso_status = \"normal\";\nvar peso_cor = \"green\";\nif (msg.payload.peso_kg >= 5.0) {\n    peso_status = \"cheia\";\n    peso_cor = \"red\";\n} else if (msg.payload.peso_kg >= 3.0) {\n    peso_status = \"medio\";\n    peso_cor = \"yellow\";\n}\n\nvar temp_status = \"normal\";\nvar temp_cor = \"green\";\nif (msg.payload.temperatura > 35) {\n    temp_status = \"alta\";\n    temp_cor = \"red\";\n} else if (msg.payload.temperatura > 30) {\n    temp_status = \"elevada\";\n    temp_cor = \"orange\";\n} else if (msg.payload.temperatura < 15) {\n    temp_status = \"baixa\";\n    temp_cor = \"blue\";\n}\n\nvar umidade_status = \"normal\";\nvar umidade_cor = \"green\";\nif (msg.payload.umidade > 80) {\n    umidade_status = \"alta\";\n    umidade_cor = \"blue\";\n} else if (msg.payload.umidade < 30) {\n    umidade_status = \"baixa\";\n    umidade_cor = \"orange\";\n}\n\nvar capacidade_percent = Math.min(100, (msg.payload.peso_kg / 5.0) * 100);\n\nmsg.payload.peso_status = peso_status;\nmsg.payload.peso_cor = peso_cor;\nmsg.payload.temp_status = temp_status;\nmsg.payload.temp_cor = temp_cor;\nmsg.payload.umidade_status = umidade_status;\nmsg.payload.umidade_cor = umidade_cor;\nmsg.payload.capacidade_percent = Math.round(capacidade_percent);\nmsg.payload.alertas = [];\nmsg.payload.peso_alerta = false;\nmsg.payload.temp_alerta = false;\n\nif (peso_status === \"cheia\") {\n    msg.payload.alertas.push(\"🚨 Lixeira Cheia\");\n    msg.payload.peso_alerta = true;\n}\nif (temp_status === \"alta\") {\n    msg.payload.alertas.push(\"🌡️ Temperatura Alta\");\n    msg.payload.temp_alerta = true;\n}\nif (msg.payload.tampa_aberta) {\n    msg.payload.alertas.push(\"🔓 Tampa Aberta\");\n}\n\nmsg.payload.saude_score = 100;\nif (msg.payload.peso_alerta) msg.payload.saude_score -= 30;\nif (msg.payload.temp_alerta) msg.payload.saude_score -= 20;\nif (msg.payload.tampa_aberta) msg.payload.saude_score -= 10;\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 670,
        "y": 240,
        "wires": [
            [
                "dbf4ad836966fa41",
                "84bf40eeb7e34871",
                "4623732bc32489ca",
                "25f31402ca612319",
                "c2350dca09288a20"
            ]
        ]
    },
    {
        "id": "dbf4ad836966fa41",
        "type": "mongodb out",
        "z": "81a5079558310f88",
        "mongodb": "7c943905cfd50d5f",
        "name": "MongoDB Atlas",
        "collection": "waste_data",
        "payonly": true,
        "upsert": false,
        "multi": false,
        "operation": "insert",
        "x": 960,
        "y": 180,
        "wires": []
    },
    {
        "id": "037e3422c0f488b4",
        "type": "function",
        "z": "81a5079558310f88",
        "name": "Status MongoDB",
        "func": "if (msg.error) {\n    node.status({fill:\"red\",shape:\"ring\",text:\"Erro MongoDB: \" + msg.error});\n} else {\n    node.status({fill:\"green\",shape:\"dot\",text:\"Dados salvos\"});\n    console.log(\"Dados salvos no MongoDB:\", {\n        lixeira: msg.payload.lixeira_id,\n        timestamp: msg.payload.timestamp_manaus,\n        capacidade: msg.payload.capacidade_percent + \"%\"\n    });\n}\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1210,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "4623732bc32489ca",
        "type": "function",
        "z": "81a5079558310f88",
        "name": "Gerenciar Alertas",
        "func": "var alertasCriticos = [];\n\nif (msg.payload.nivel_alerta) {\n    alertasCriticos.push({\n        tipo: \"nivel_cheio\",\n        mensagem: \"Lixeira \" + msg.payload.lixeira_id + \" está cheia\",\n        cor: \"red\",\n        icone: \"🚨\",\n        prioridade: \"alta\"\n    });\n}\n\nif (msg.payload.gas_alerta) {\n    alertasCriticos.push({\n        tipo: \"gas_alto\",\n        mensagem: \"Nível de gás alto na \" + msg.payload.lixeira_id,\n        cor: \"orange\",\n        icone: \"⚠️\",\n        prioridade: \"media\"\n    });\n}\n\nif (msg.payload.temp_alerta) {\n    alertasCriticos.push({\n        tipo: \"temperatura_alta\",\n        mensagem: \"Temperatura alta na \" + msg.payload.lixeira_id,\n        cor: \"red\",\n        icone: \"🌡️\",\n        prioridade: \"alta\"\n    });\n}\n\nif (alertasCriticos.length > 0) {\n    var alertMsg = {\n        payload: alertasCriticos,\n        topic: \"alertas_criticos\",\n        lixeira: msg.payload.lixeira_id\n    };\n    \n    node.send([null, alertMsg]);\n}\n\nreturn msg;",
        "outputs": 2,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 830,
        "y": 720,
        "wires": [
            [],
            [
                "5d6118fc425752c7",
                "61b07496adf2ca2f",
                "7ead41df994a0548"
            ]
        ]
    },
    {
        "id": "25f31402ca612319",
        "type": "function",
        "z": "81a5079558310f88",
        "name": "Atualizar Capacidades",
        "func": "if (msg.payload.lixeira_id === \"lixeira1\") {\n    return [\n        {payload: msg.payload.capacidade_percent, topic: \"capacidade_l1\"},\n        {payload: msg.payload.saude_score, topic: \"saude_l1\"}\n    ];\n} else if (msg.payload.lixeira_id === \"lixeira2\") {\n    return [\n        {payload: msg.payload.capacidade_percent, topic: \"capacidade_l2\"},\n        {payload: msg.payload.saude_score, topic: \"saude_l2\"}\n    ];\n}\nreturn msg;",
        "outputs": 2,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 920,
        "y": 520,
        "wires": [
            [
                "9680a58b5e79355e",
                "fed9e7cac6308c9f"
            ],
            [
                "953f8f8f6f897a8a",
                "e21b26ea026df8e3"
            ]
        ]
    },
    {
        "id": "e986a7d8c67981c2",
        "type": "function",
        "z": "81a5079558310f88",
        "name": "Dashboard Live Lixeira 1",
        "func": "try {\n    var data = JSON.parse(msg.payload);\n    \n    var messages = [];\n    \n    messages.push({\n        topic: \"nivel\",\n        payload: data.nivel_cm,\n        lixeira: \"lixeira1\"\n    });\n    \n    messages.push({\n        topic: \"gas\",\n        payload: data.gas_mq2,\n        lixeira: \"lixeira1\"\n    });\n    \n    messages.push({\n        topic: \"alerta\",\n        payload: data.alerta_led_on ? \"ATIVO\" : \"NORMAL\",\n        lixeira: \"lixeira1\"\n    });\n    \n    return [messages];\n    \n} catch (error) {\n    node.error(\"Erro processamento live: \" + error);\n    return null;\n}",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 360,
        "wires": [
            [
                "5d7c39b11b68d938",
                "2481458df1685c06",
                "e25636b94d027b80"
            ]
        ]
    },
    {
        "id": "7960b62565826b12",
        "type": "function",
        "z": "81a5079558310f88",
        "name": "Dashboard Live Lixeira 2",
        "func": "try {\n    var data = JSON.parse(msg.payload);\n    \n    var messages = [];\n    \n    messages.push({\n        topic: \"temperatura\",\n        payload: data.temperatura,\n        lixeira: \"lixeira2\"\n    });\n    \n    messages.push({\n        topic: \"umidade\",\n        payload: data.umidade,\n        lixeira: \"lixeira2\"\n    });\n    \n    messages.push({\n        topic: \"peso\",\n        payload: data.peso_kg,\n        lixeira: \"lixeira2\"\n    });\n    \n    messages.push({\n        topic: \"tampa\",\n        payload: data.tampa_aberta ? \"ABERTA\" : \"FECHADA\",\n        lixeira: \"lixeira2\"\n    });\n    \n    return [messages];\n    \n} catch (error) {\n    node.error(\"Erro processamento live: \" + error);\n    return null;\n}",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 440,
        "wires": [
            [
                "7292636f12ef1073",
                "853f3102cac8de90",
                "02334a68b86f80e4",
                "4a7c4a87bc9b101f"
            ]
        ]
    },
    {
        "id": "c2350dca09288a20",
        "type": "function",
        "z": "81a5079558310f88",
        "name": "Agregador de Dados",
        "func": "// Agregar dados para visão geral\nvar key = msg.payload.lixeira_id;\ncontext.data = context.data || {};\ncontext.data[key] = msg.payload;\n\n// Enviar dados agregados para o dashboard de visão geral\nvar aggregatedData = {\n    payload: context.data,\n    topic: \"overview_data\"\n};\n\nreturn aggregatedData;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 920,
        "y": 600,
        "wires": [
            [
                "9f440b5db362f18a"
            ]
        ]
    },
    {
        "id": "2c9cbb452e8ffbee",
        "type": "function",
        "z": "81a5079558310f88",
        "name": "Gerar Relatório",
        "func": "var now = new Date();\nvar manausTime = new Date(now.getTime() - 4 * 60 * 60000);\n\nvar report = {\n    timestamp: manausTime.toISOString(),\n    data_hora: manausTime.toLocaleString('pt-BR', { timeZone: 'America/Manaus' }),\n    lixeira1: context.data?.lixeira1 || {},\n    lixeira2: context.data?.lixeira2 || {},\n    resumo: {\n        total_alertas: (context.data?.lixeira1?.alertas?.length || 0) + (context.data?.lixeira2?.alertas?.length || 0),\n        status_geral: \"OPERACIONAL\"\n    }\n};\n\nmsg.payload = report;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 920,
        "y": 280,
        "wires": [
            [
                "d1f41931680ebf9b"
            ]
        ]
    },
    {
        "id": "7ead41df994a0548",
        "type": "function",
        "z": "81a5079558310f88",
        "name": "Gerenciar Histórico Alertas",
        "func": "var now = new Date();\nvar manausTime = new Date(now.getTime() - 4 * 60 * 60000);\n\n// Inicializar histórico se não existir\ncontext.alertHistory = context.alertHistory || [];\n\n// Adicionar alertas atuais se houver\nif (msg.payload && msg.payload.length > 0) {\n    msg.payload.forEach(alert => {\n        context.alertHistory.unshift({\n            id: context.alertHistory.length + 1,\n            tipo: alert.tipo,\n            mensagem: alert.mensagem,\n            prioridade: alert.prioridade,\n            timestamp: manausTime.toLocaleString('pt-BR'),\n            resolvido: false\n        });\n    });\n}\n\n// Manter apenas últimos 50 alertas\ncontext.alertHistory = context.alertHistory.slice(0, 50);\n\nmsg.payload = context.alertHistory;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1620,
        "y": 960,
        "wires": [
            [
                "bd6d49b79e8604b0"
            ]
        ]
    },
    {
        "id": "c4a52463d4b18471",
        "type": "ui_template",
        "z": "81a5079558310f88",
        "group": "5f5a09c8d5f62a14",
        "name": "Cabeçalho do Sistema",
        "order": 1,
        "width": 12,
        "height": 8,
        "format": "<div style=\"background: linear-gradient(135deg, #1b5e20 0%, #2e7d32 50%, #388e3c 100%); color: white; padding: 30px; border-radius: 15px; box-shadow: 0 8px 25px rgba(27, 94, 32, 0.3); margin-bottom: 20px;\">\n  <div style=\"display: flex; align-items: center; justify-content: space-between;\">\n    <div>\n      <h1 style=\"margin: 0; font-size: 2.5em; font-weight: 700;\">🌿 Smart Waste Management</h1>\n      <p style=\"margin: 10px 0 0 0; font-size: 1.2em; opacity: 0.9;\">Sistema Inteligente de Monitoramento de Lixeiras - Manaus/AM</p>\n    </div>\n    <div style=\"text-align: right;\">\n      <div style=\"background: rgba(255,255,255,0.2); padding: 10px 20px; border-radius: 25px; display: inline-block;\">\n        <span style=\"font-size: 1.1em;\">📍 Manaus - Amazonas</span>\n      </div>\n    </div>\n  </div>\n  \n  <div style=\"display: grid; grid-template-columns: 1fr 1fr; gap: 30px; margin-top: 30px;\">\n    <div style=\"background: rgba(255,255,255,0.1); padding: 20px; border-radius: 10px;\">\n      <h3 style=\"margin-top: 0; color: #c8e6c9;\">🎯 Objetivo do Sistema</h3>\n      <p style=\"line-height: 1.6;\">Monitoramento inteligente em tempo real das lixeiras urbanas, otimizando rotas de coleta e promovendo uma Manaus mais limpa e sustentável.</p>\n    </div>\n    <div style=\"background: rgba(255,255,255,0.1); padding: 20px; border-radius: 10px;\">\n      <h3 style=\"margin-top: 0; color: #c8e6c9;\">📊 Benefícios</h3>\n      <ul style=\"line-height: 1.6; padding-left: 20px;\">\n        <li>Redução de custos operacionais</li>\n        <li>Coleta eficiente e sustentável</li>\n        <li>Alertas preventivos de manutenção</li>\n        <li>Dados em tempo real para tomada de decisão</li>\n      </ul>\n    </div>\n  </div>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "x": 1300,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "9f440b5db362f18a",
        "type": "ui_template",
        "z": "81a5079558310f88",
        "group": "5f5a09c8d5f62a14",
        "name": "Status das Lixeiras",
        "order": 2,
        "width": 12,
        "height": 6,
        "format": "<div style=\"display: grid; grid-template-columns: 1fr 1fr; gap: 20px; margin-bottom: 20px;\">\n  \n  <!-- Lixeira 1 -->\n  <div style=\"background: white; padding: 25px; border-radius: 15px; box-shadow: 0 4px 15px rgba(0,0,0,0.1); border-left: 6px solid #4caf50;\">\n    <div style=\"display: flex; justify-content: between; align-items: center; margin-bottom: 15px;\">\n      <h3 style=\"margin: 0; color: #2e7d32;\">🗑️ Lixeira 01 - Centro</h3>\n      <span style=\"background: #e8f5e8; color: #2e7d32; padding: 5px 15px; border-radius: 20px; font-size: 0.9em;\">\n        {{msg.payload.lixeira1?.saude_score || 100}}% Saúde\n      </span>\n    </div>\n    \n    <div style=\"display: grid; grid-template-columns: 1fr 1fr; gap: 15px;\">\n      <div>\n        <strong>📍 Localização:</strong><br>\n        <span style=\"color: #666;\">Av. Eduardo Ribeiro, 1000</span>\n      </div>\n      <div>\n        <strong>📡 Dispositivo:</strong><br>\n        <span style=\"color: #666;\">ESP32-Lixeira-01</span>\n      </div>\n      <div>\n        <strong>📊 Capacidade:</strong><br>\n        <span style=\"color: #666;\">{{msg.payload.lixeira1?.capacidade_percent || 0}}%</span>\n      </div>\n      <div>\n        <strong>🎯 Tipo:</strong><br>\n        <span style=\"color: #666;\">Ultrassom + Gás</span>\n      </div>\n    </div>\n  </div>\n\n  <!-- Lixeira 2 -->\n  <div style=\"background: white; padding: 25px; border-radius: 15px; box-shadow: 0 4px 15px rgba(0,0,0,0.1); border-left: 6px solid #2196f3;\">\n    <div style=\"display: flex; justify-content: between; align-items: center; margin-bottom: 15px;\">\n      <h3 style=\"margin: 0; color: #1976d2;\">🗑️ Lixeira 02 - Ponta Negra</h3>\n      <span style=\"background: #e3f2fd; color: #1976d2; padding: 5px 15px; border-radius: 20px; font-size: 0.9em;\">\n        {{msg.payload.lixeira2?.saude_score || 100}}% Saúde\n      </span>\n    </div>\n    \n    <div style=\"display: grid; grid-template-columns: 1fr 1fr; gap: 15px;\">\n      <div>\n        <strong>📍 Localização:</strong><br>\n        <span style=\"color: #666;\">Praia da Ponta Negra</span>\n      </div>\n      <div>\n        <strong>📡 Dispositivo:</strong><br>\n        <span style=\"color: #666;\">ESP32-Lixeira-02</span>\n      </div>\n      <div>\n        <strong>📊 Capacidade:</strong><br>\n        <span style=\"color: #666;\">{{msg.payload.lixeira2?.capacidade_percent || 0}}%</span>\n      </div>\n      <div>\n        <strong>🎯 Tipo:</strong><br>\n        <span style=\"color: #666;\">Peso + Temperatura</span>\n      </div>\n    </div>\n  </div>\n  \n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "x": 1300,
        "y": 150,
        "wires": [
            []
        ]
    },
    {
        "id": "51fe2bb9fd4a01e5",
        "type": "ui_template",
        "z": "81a5079558310f88",
        "group": "ae50173737938e2c",
        "name": "Header Lixeira 1",
        "order": 1,
        "width": 12,
        "height": 2,
        "format": "<div style=\"background: linear-gradient(135deg, #1b5e20, #4caf50); color: white; padding: 20px; border-radius: 10px; text-align: center;\">\n  <h2 style=\"margin: 0; font-size: 1.8em;\">🗑️ Lixeira 01 - Centro</h2>\n  <p style=\"margin: 5px 0 0 0; opacity: 0.9;\">Monitoramento em Tempo Real</p>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "x": 1460,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "7f78bb1245da0c23",
        "type": "ui_template",
        "z": "81a5079558310f88",
        "group": "f494ccd59c29a556",
        "name": "Header Lixeira 2",
        "order": 1,
        "width": 12,
        "height": 2,
        "format": "<div style=\"background: linear-gradient(135deg, #0d47a1, #2196f3); color: white; padding: 20px; border-radius: 10px; text-align: center;\">\n  <h2 style=\"margin: 0; font-size: 1.8em;\">🗑️ Lixeira 02 - Ponta Negra</h2>\n  <p style=\"margin: 5px 0 0 0; opacity: 0.9;\">Monitoramento em Tempo Real</p>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "x": 1460,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "d1f41931680ebf9b",
        "type": "ui_template",
        "z": "81a5079558310f88",
        "group": "41a42e1d646344d2",
        "name": "Relatório Gerado",
        "order": 1,
        "width": 12,
        "height": 8,
        "format": "<div style=\"background: white; padding: 25px; border-radius: 15px; box-shadow: 0 4px 15px rgba(0,0,0,0.1);\">\n  <h3 style=\"margin-top: 0; color: #1b5e20; border-bottom: 2px solid #e0e0e0; padding-bottom: 10px;\">\n    📋 Relatório do Sistema\n  </h3>\n  \n  <div style=\"display: grid; grid-template-columns: 1fr 1fr; gap: 20px; margin-bottom: 20px;\">\n    <div>\n      <h4 style=\"color: #2e7d32;\">🗑️ Lixeira 01</h4>\n      <p><strong>Capacidade:</strong> {{msg.payload.lixeira1.capacidade_percent}}%</p>\n      <p><strong>Nível:</strong> {{msg.payload.lixeira1.nivel_cm}} cm</p>\n      <p><strong>Gás MQ2:</strong> {{msg.payload.lixeira1.gas_mq2}}</p>\n    </div>\n    <div>\n      <h4 style=\"color: #1976d2;\">🗑️ Lixeira 02</h4>\n      <p><strong>Capacidade:</strong> {{msg.payload.lixeira2.capacidade_percent}}%</p>\n      <p><strong>Temperatura:</strong> {{msg.payload.lixeira2.temperatura}}°C</p>\n      <p><strong>Peso:</strong> {{msg.payload.lixeira2.peso_kg}} kg</p>\n    </div>\n  </div>\n  \n  <div style=\"background: #f5f5f5; padding: 15px; border-radius: 8px;\">\n    <strong>📊 Resumo:</strong><br>\n    Total de Alertas: {{msg.payload.resumo.total_alertas}}<br>\n    Status Geral: <span style=\"color: #4caf50;\">{{msg.payload.resumo.status_geral}}</span><br>\n    Gerado em: {{msg.payload.data_hora}}\n  </div>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "x": 1210,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "bd6d49b79e8604b0",
        "type": "ui_template",
        "z": "81a5079558310f88",
        "group": "451c6b4d71fd2a33",
        "name": "Histórico de Alertas",
        "order": 1,
        "width": 12,
        "height": 8,
        "format": "<div style=\"background: white; padding: 25px; border-radius: 15px; box-shadow: 0 4px 15px rgba(0,0,0,0.1);\">\n  <h3 style=\"margin-top: 0; color: #1b5e20; border-bottom: 2px solid #e0e0e0; padding-bottom: 10px;\">\n    📈 Histórico de Alertas\n  </h3>\n  \n  <div style=\"max-height: 400px; overflow-y: auto;\">\n    <table style=\"width: 100%; border-collapse: collapse;\">\n      <thead>\n        <tr style=\"background: #f5f5f5;\">\n          <th style=\"padding: 12px; text-align: left; border-bottom: 2px solid #e0e0e0;\">Alerta</th>\n          <th style=\"padding: 12px; text-align: left; border-bottom: 2px solid #e0e0e0;\">Prioridade</th>\n          <th style=\"padding: 12px; text-align: left; border-bottom: 2px solid #e0e0e0;\">Data/Hora</th>\n          <th style=\"padding: 12px; text-align: left; border-bottom: 2px solid #e0e0e0;\">Status</th>\n        </tr>\n      </thead>\n      <tbody>\n        <tr ng-repeat=\"alert in msg.payload\" style=\"border-bottom: 1px solid #f0f0f0;\">\n          <td style=\"padding: 12px;\">\n            <strong>{{alert.mensagem}}</strong>\n          </td>\n          <td style=\"padding: 12px;\">\n            <span ng-style=\"{'color': alert.prioridade === 'alta' ? '#f44336' : alert.prioridade === 'media' ? '#ff9800' : '#4caf50'}\">\n              {{alert.prioridade}}\n            </span>\n          </td>\n          <td style=\"padding: 12px; color: #666;\">\n            {{alert.timestamp}}\n          </td>\n          <td style=\"padding: 12px;\">\n            <span ng-if=\"alert.resolvido\" style=\"color: #4caf50;\">✅ Resolvido</span>\n            <span ng-if=\"!alert.resolvido\" style=\"color: #ff9800;\">🔄 Pendente</span>\n          </td>\n        </tr>\n      </tbody>\n    </table>\n    \n    <div ng-if=\"!msg.payload || msg.payload.length === 0\" style=\"text-align: center; padding: 40px; color: #666;\">\n      📊 Nenhum alerta registrado\n    </div>\n  </div>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "x": 1890,
        "y": 960,
        "wires": [
            []
        ]
    },
    {
        "id": "2dc58ec21d643787",
        "type": "ui_template",
        "z": "81a5079558310f88",
        "group": "2f06120809873a9b",
        "name": "Painel de Controle",
        "order": 1,
        "width": 12,
        "height": 4,
        "format": "<div style=\"background: white; padding: 25px; border-radius: 15px; box-shadow: 0 4px 15px rgba(0,0,0,0.1);\">\n  <h3 style=\"margin-top: 0; color: #1b5e20; margin-bottom: 20px;\">🎛️ Painel de Controle</h3>\n  \n  <div style=\"display: grid; grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); gap: 15px;\">\n    \n    <button onclick=\"sendReport()\" style=\"background: linear-gradient(135deg, #4caf50, #2e7d32); color: white; border: none; padding: 15px 20px; border-radius: 8px; cursor: pointer; font-size: 1em; transition: all 0.3s; display: flex; align-items: center; justify-content: center; gap: 10px;\" onmouseover=\"this.style.transform='translateY(-2px)'\" onmouseout=\"this.style.transform='translateY(0)'\">\n      📧 Gerar Relatório\n    </button>\n    \n    <button onclick=\"sendAlertTest()\" style=\"background: linear-gradient(135deg, #ff9800, #f57c00); color: white; border: none; padding: 15px 20px; border-radius: 8px; cursor: pointer; font-size: 1em; transition: all 0.3s; display: flex; align-items: center; justify-content: center; gap: 10px;\" onmouseover=\"this.style.transform='translateY(-2px)'\" onmouseout=\"this.style.transform='translateY(0)'\">\n      🚨 Testar Alerta\n    </button>\n    \n    <button onclick=\"exportData()\" style=\"background: linear-gradient(135deg, #2196f3, #1976d2); color: white; border: none; padding: 15px 20px; border-radius: 8px; cursor: pointer; font-size: 1em; transition: all 0.3s; display: flex; align-items: center; justify-content: center; gap: 10px;\" onmouseover=\"this.style.transform='translateY(-2px)'\" onmouseout=\"this.style.transform='translateY(0)'\">\n      📊 Exportar Dados\n    </button>\n    \n    <button onclick=\"refreshDashboard()\" style=\"background: linear-gradient(135deg, #9c27b0, #7b1fa2); color: white; border: none; padding: 15px 20px; border-radius: 8px; cursor: pointer; font-size: 1em; transition: all 0.3s; display: flex; align-items: center; justify-content: center; gap: 10px;\" onmouseover=\"this.style.transform='translateY(-2px)'\" onmouseout=\"this.style.transform='translateY(0)'\">\n      🔄 Atualizar\n    </button>\n    \n  </div>\n</div>\n\n<script>\nfunction sendReport() {\n    // Enviar comando para gerar relatório\n    console.log('Gerando relatório...');\n    // Implementar ação via Node-RED\n}\n\nfunction sendAlertTest() {\n    // Testar sistema de alertas\n    console.log('Testando alertas...');\n    // Implementar ação via Node-RED\n}\n\nfunction exportData() {\n    // Exportar dados para CSV\n    console.log('Exportando dados...');\n    // Implementar ação via Node-RED\n}\n\nfunction refreshDashboard() {\n    location.reload();\n}\n</script>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "x": 1300,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "5d7c39b11b68d938",
        "type": "ui_gauge",
        "z": "81a5079558310f88",
        "name": "Nível Lixeira 1",
        "group": "ae50173737938e2c",
        "order": 2,
        "width": 6,
        "height": 4,
        "gtype": "gage",
        "title": "Nível da Lixeira (cm)",
        "label": "units",
        "format": "{{value}} cm",
        "min": 0,
        "max": 50,
        "colors": [
            "#00CA51",
            "#FFC400",
            "#FF3B3B"
        ],
        "seg1": "15",
        "seg2": "5",
        "x": 1280,
        "y": 460,
        "wires": []
    },
    {
        "id": "2481458df1685c06",
        "type": "ui_chart",
        "z": "81a5079558310f88",
        "name": "Sensor de Gás MQ2",
        "group": "ae50173737938e2c",
        "order": 3,
        "width": 6,
        "height": 4,
        "label": "Nível de Gás",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "smooth",
        "nodata": "Aguardando dados...",
        "dot": true,
        "ymin": "0",
        "ymax": "1024",
        "removeOlder": 1,
        "removeOlderPoints": "60",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#FF6B6B"
        ],
        "outputs": 0,
        "x": 1290,
        "y": 510,
        "wires": []
    },
    {
        "id": "e25636b94d027b80",
        "type": "ui_text",
        "z": "81a5079558310f88",
        "group": "ae50173737938e2c",
        "order": 4,
        "width": 6,
        "height": 2,
        "name": "Status Alerta LED",
        "label": "🔴 Status do Alerta",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "className": "alert-indicator",
        "x": 1290,
        "y": 560,
        "wires": []
    },
    {
        "id": "7292636f12ef1073",
        "type": "ui_gauge",
        "z": "81a5079558310f88",
        "name": "Temperatura Lixeira 2",
        "group": "f494ccd59c29a556",
        "order": 2,
        "width": 4,
        "height": 4,
        "gtype": "gage",
        "title": "Temperatura",
        "label": "units",
        "format": "{{value}}°C",
        "min": 0,
        "max": 50,
        "colors": [
            "#4FC3F7",
            "#81C784",
            "#FFF176",
            "#FFB74D",
            "#FF8A65"
        ],
        "seg1": "20",
        "seg2": "30",
        "x": 1290,
        "y": 610,
        "wires": []
    },
    {
        "id": "853f3102cac8de90",
        "type": "ui_chart",
        "z": "81a5079558310f88",
        "name": "Umidade Lixeira 2",
        "group": "f494ccd59c29a556",
        "order": 3,
        "width": 4,
        "height": 4,
        "label": "Umidade Relativa",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "smooth",
        "nodata": "Aguardando dados...",
        "dot": true,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "60",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#42A5F5"
        ],
        "outputs": 0,
        "x": 1290,
        "y": 660,
        "wires": []
    },
    {
        "id": "02334a68b86f80e4",
        "type": "ui_gauge",
        "z": "81a5079558310f88",
        "name": "Peso Lixeira 2",
        "group": "f494ccd59c29a556",
        "order": 4,
        "width": 4,
        "height": 4,
        "gtype": "gage",
        "title": "Peso da Lixeira",
        "label": "units",
        "format": "{{value}} kg",
        "min": 0,
        "max": 10,
        "colors": [
            "#66BB6A",
            "#FFEE58",
            "#EF5350"
        ],
        "seg1": "3",
        "seg2": "5",
        "x": 1290,
        "y": 710,
        "wires": []
    },
    {
        "id": "4a7c4a87bc9b101f",
        "type": "ui_text",
        "z": "81a5079558310f88",
        "group": "f494ccd59c29a556",
        "order": 5,
        "width": 4,
        "height": 2,
        "name": "Status Tampa",
        "label": "🔓 Status da Tampa",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "x": 1290,
        "y": 760,
        "wires": []
    },
    {
        "id": "9680a58b5e79355e",
        "type": "ui_gauge",
        "z": "81a5079558310f88",
        "name": "Capacidade Lixeira 1",
        "group": "dashboard-group3",
        "order": 1,
        "width": 6,
        "height": 4,
        "gtype": "gage",
        "title": "Capacidade Lixeira 1",
        "label": "units",
        "format": "{{value}}%",
        "min": 0,
        "max": 100,
        "colors": [
            "#00E676",
            "#FFEA00",
            "#FF3D00"
        ],
        "seg1": "50",
        "seg2": "80",
        "x": 1290,
        "y": 810,
        "wires": []
    },
    {
        "id": "fed9e7cac6308c9f",
        "type": "ui_gauge",
        "z": "81a5079558310f88",
        "name": "Capacidade Lixeira 2",
        "group": "dashboard-group3",
        "order": 2,
        "width": 6,
        "height": 4,
        "gtype": "gage",
        "title": "Capacidade Lixeira 2",
        "label": "units",
        "format": "{{value}}%",
        "min": 0,
        "max": 100,
        "colors": [
            "#00E676",
            "#FFEA00",
            "#FF3D00"
        ],
        "seg1": "50",
        "seg2": "80",
        "x": 1290,
        "y": 860,
        "wires": []
    },
    {
        "id": "953f8f8f6f897a8a",
        "type": "ui_gauge",
        "z": "81a5079558310f88",
        "name": "Saúde Lixeira 1",
        "group": "dashboard-group4",
        "order": 1,
        "width": 6,
        "height": 4,
        "gtype": "gage",
        "title": "Saúde do Dispositivo 1",
        "label": "units",
        "format": "{{value}}%",
        "min": 0,
        "max": 100,
        "colors": [
            "#FF5252",
            "#FFB74D",
            "#4CAF50"
        ],
        "seg1": "50",
        "seg2": "80",
        "x": 1290,
        "y": 910,
        "wires": []
    },
    {
        "id": "e21b26ea026df8e3",
        "type": "ui_gauge",
        "z": "81a5079558310f88",
        "name": "Saúde Lixeira 2",
        "group": "dashboard-group4",
        "order": 2,
        "width": 6,
        "height": 4,
        "gtype": "gage",
        "title": "Saúde do Dispositivo 2",
        "label": "units",
        "format": "{{value}}%",
        "min": 0,
        "max": 100,
        "colors": [
            "#FF5252",
            "#FFB74D",
            "#4CAF50"
        ],
        "seg1": "50",
        "seg2": "80",
        "x": 1290,
        "y": 960,
        "wires": []
    },
    {
        "id": "5d6118fc425752c7",
        "type": "ui_template",
        "z": "81a5079558310f88",
        "group": "dashboard-group5",
        "name": "Painel de Alertas",
        "order": 1,
        "width": 12,
        "height": 6,
        "format": "<div style=\"padding: 15px; background: #fff; border-radius: 10px; box-shadow: 0 2px 10px rgba(0,0,0,0.1);\">\n  <h3 style=\"margin-top: 0; color: #333; border-bottom: 2px solid #f0f0f0; padding-bottom: 10px;\">\n    🚨 Painel de Alertas\n  </h3>\n  <div id=\"alert-container\" style=\"max-height: 200px; overflow-y: auto;\">\n    <div ng-repeat=\"alert in msg.payload\" style=\"padding: 10px; margin: 5px 0; border-radius: 5px; background: {{alert.cor === 'red' ? '#FFEBEE' : alert.cor === 'orange' ? '#FFF3E0' : '#E8F5E8'}}; border-left: 4px solid {{alert.cor === 'red' ? '#F44336' : alert.cor === 'orange' ? '#FF9800' : '#4CAF50'}};\">\n      <strong>{{alert.icone}} {{alert.mensagem}}</strong>\n      <br><small style=\"color: #666;\">Prioridade: {{alert.prioridade}}</small>\n    </div>\n    <div ng-if=\"!msg.payload || msg.payload.length === 0\" style=\"text-align: center; color: #666; padding: 20px;\">\n      ✅ Nenhum alerta crítico\n    </div>\n  </div>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "x": 1290,
        "y": 1010,
        "wires": [
            []
        ]
    },
    {
        "id": "61b07496adf2ca2f",
        "type": "ui_toast",
        "z": "81a5079558310f88",
        "position": "top right",
        "displayTime": "10",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "x": 1290,
        "y": 1060,
        "wires": []
    },
    {
        "id": "33e35195155d0cf2",
        "type": "debug",
        "z": "81a5079558310f88",
        "name": "Debug Lixeira 1 Processada",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 940,
        "y": 40,
        "wires": []
    },
    {
        "id": "84bf40eeb7e34871",
        "type": "debug",
        "z": "81a5079558310f88",
        "name": "Debug Lixeira 2 Processada",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 980,
        "y": 360,
        "wires": []
    },
    {
        "id": "hivemq-broker",
        "type": "mqtt-broker",
        "name": "HiveMQ Broker",
        "broker": "broker.hivemq.com",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "mqttdashboard-broker",
        "type": "mqtt-broker",
        "name": "MQTT Dashboard Broker",
        "broker": "broker.mqttdashboard.com",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "7c943905cfd50d5f",
        "type": "mongodb",
        "hostname": "clusterm0.7zmzs8b.mongodb.net",
        "topology": "dnscluster",
        "connectOptions": "",
        "port": 27017,
        "db": "smart-waste-mqtt",
        "name": "MongoDB Atlas"
    },
    {
        "id": "5f5a09c8d5f62a14",
        "type": "ui_group",
        "name": "Visão Geral do Sistema",
        "tab": "dashboard-tab",
        "order": 1,
        "disp": true,
        "width": 12,
        "collapse": false,
        "className": "dashboard-overview"
    },
    {
        "id": "ae50173737938e2c",
        "type": "ui_group",
        "name": "Lixeira 1 - Detalhada",
        "tab": "dashboard-tab",
        "order": 3,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": "dashboard-panel-detailed"
    },
    {
        "id": "f494ccd59c29a556",
        "type": "ui_group",
        "name": "Lixeira 2 - Detalhada",
        "tab": "dashboard-tab",
        "order": 4,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": "dashboard-panel-detailed"
    },
    {
        "id": "41a42e1d646344d2",
        "type": "ui_group",
        "name": "Relatórios e Análises",
        "tab": "dashboard-tab",
        "order": 6,
        "disp": true,
        "width": 12,
        "collapse": false,
        "className": "dashboard-reports"
    },
    {
        "id": "451c6b4d71fd2a33",
        "type": "ui_group",
        "name": "Histórico e Estatísticas",
        "tab": "dashboard-tab",
        "order": 7,
        "disp": true,
        "width": 12,
        "collapse": false,
        "className": "dashboard-history"
    },
    {
        "id": "2f06120809873a9b",
        "type": "ui_group",
        "name": "Controles do Sistema",
        "tab": "dashboard-tab",
        "order": 8,
        "disp": true,
        "width": 12,
        "collapse": false,
        "className": "dashboard-controls"
    },
    {
        "id": "dashboard-group3",
        "type": "ui_group",
        "name": "Capacidade das Lixeiras",
        "tab": "dashboard-tab",
        "order": 3,
        "disp": true,
        "width": 12,
        "collapse": false,
        "className": "dashboard-panel"
    },
    {
        "id": "dashboard-group4",
        "type": "ui_group",
        "name": "Saúde dos Dispositivos",
        "tab": "dashboard-tab",
        "order": 4,
        "disp": true,
        "width": 12,
        "collapse": false,
        "className": "dashboard-panel"
    },
    {
        "id": "dashboard-group5",
        "type": "ui_group",
        "name": "Sistema de Alertas",
        "tab": "dashboard-tab",
        "order": 5,
        "disp": true,
        "width": 12,
        "collapse": false,
        "className": "dashboard-panel"
    },
    {
        "id": "dashboard-tab",
        "type": "ui_tab",
        "name": "Smart Waste Dashboard",
        "icon": "fa-trash-alt",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "00101614d5f7ded0",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-node-mongodb": "0.2.5",
            "node-red-dashboard": "3.6.6"
        }
    }
]