node-red/smart-waste-mqtt.json
[
    {
        "id": "b50701220b28c73b",
        "type": "tab",
        "label": "smart-waste-mqtt",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "broker1-mqtt",
        "type": "mqtt in",
        "z": "b50701220b28c73b",
        "name": "Lixeira 1 - HiveMQ",
        "topic": "swms/lixeira1/data",
        "qos": "0",
        "datatype": "auto",
        "broker": "hivemq-broker",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 110,
        "y": 140,
        "wires": [
            [
                "validate-json1",
                "dashboard-live1"
            ]
        ]
    },
    {
        "id": "broker2-mqtt",
        "type": "mqtt in",
        "z": "b50701220b28c73b",
        "name": "Lixeira 2 - MQTT Dashboard",
        "topic": "swms/lixeira2/data",
        "qos": "0",
        "datatype": "auto",
        "broker": "mqttdashboard-broker",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 140,
        "y": 240,
        "wires": [
            [
                "validate-json2",
                "dashboard-live2"
            ]
        ]
    },
    {
        "id": "validate-json1",
        "type": "function",
        "z": "b50701220b28c73b",
        "name": "Validar Lixeira 1",
        "func": "try {\n    var data = JSON.parse(msg.payload);\n    \n    if (typeof data.nivel_cm === 'undefined' || \n        typeof data.gas_mq2 === 'undefined' || \n        typeof data.alerta_led_on === 'undefined') {\n        throw new Error('Campos obrigatórios faltando');\n    }\n    \n    var now = new Date();\n    var manausOffset = -4 * 60;\n    var manausTime = new Date(now.getTime() + manausOffset * 60000);\n    \n    msg.payload = {\n        lixeira_id: \"lixeira1\",\n        dispositivo: \"ESP32-Lixeira-01\",\n        tipo: \"ultrassom_gas\",\n        nivel_cm: parseInt(data.nivel_cm),\n        gas_mq2: parseInt(data.gas_mq2),\n        alerta_led_on: data.alerta_led_on,\n        timestamp: manausTime.toISOString(),\n        timestamp_manaus: manausTime.toLocaleString('pt-BR', { timeZone: 'America/Manaus' }),\n        broker: \"HiveMQ\",\n        version: \"v3.0\"\n    };\n    \n    msg.status = \"validado\";\n    node.status({fill:\"green\",shape:\"dot\",text:\"Dados válidos\"});\n    return msg;\n    \n} catch (error) {\n    node.status({fill:\"red\",shape:\"ring\",text:\"Erro validação: \" + error.message});\n    msg.error = error.message;\n    return null;\n}",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 140,
        "wires": [
            [
                "process-data1"
            ]
        ]
    },
    {
        "id": "validate-json2",
        "type": "function",
        "z": "b50701220b28c73b",
        "name": "Validar Lixeira 2",
        "func": "try {\n    var data = JSON.parse(msg.payload);\n    \n    if (typeof data.temperatura === 'undefined' || \n        typeof data.umidade === 'undefined' || \n        typeof data.peso_kg === 'undefined' ||\n        typeof data.tampa_aberta === 'undefined') {\n        throw new Error('Campos obrigatórios faltando');\n    }\n    \n    var now = new Date();\n    var manausOffset = -4 * 60;\n    var manausTime = new Date(now.getTime() + manausOffset * 60000);\n    \n    msg.payload = {\n        lixeira_id: \"lixeira2\",\n        dispositivo: \"ESP32-Lixeira-02\",\n        tipo: \"peso_temperatura\",\n        temperatura: parseFloat(data.temperatura),\n        umidade: parseFloat(data.umidade),\n        peso_kg: parseFloat(data.peso_kg),\n        tampa_aberta: data.tampa_aberta,\n        timestamp: manausTime.toISOString(),\n        timestamp_manaus: manausTime.toLocaleString('pt-BR', { timeZone: 'America/Manaus' }),\n        broker: \"MQTT Dashboard\",\n        version: \"v3.0\"\n    };\n    \n    msg.status = \"validado\";\n    node.status({fill:\"green\",shape:\"dot\",text:\"Dados válidos\"});\n    return msg;\n    \n} catch (error) {\n    node.status({fill:\"red\",shape:\"ring\",text:\"Erro validação: \" + error.message});\n    msg.error = error.message;\n    return null;\n}",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 240,
        "wires": [
            [
                "process-data2"
            ]
        ]
    },
    {
        "id": "process-data1",
        "type": "function",
        "z": "b50701220b28c73b",
        "name": "Processar Lixeira 1",
        "func": "var nivel_status = \"normal\";\nvar nivel_cor = \"green\";\nif (msg.payload.nivel_cm < 5) {\n    nivel_status = \"cheia\";\n    nivel_cor = \"red\";\n} else if (msg.payload.nivel_cm < 10) {\n    nivel_status = \"medio\";\n    nivel_cor = \"yellow\";\n}\n\nvar gas_status = \"normal\";\nvar gas_cor = \"green\";\nif (msg.payload.gas_mq2 > 800) {\n    gas_status = \"alto\";\n    gas_cor = \"red\";\n} else if (msg.payload.gas_mq2 > 500) {\n    gas_status = \"medio\";\n    gas_cor = \"orange\";\n}\n\nvar capacidade_percent = Math.max(0, Math.min(100, ((50 - msg.payload.nivel_cm) / 50) * 100));\n\nmsg.payload.nivel_status = nivel_status;\nmsg.payload.nivel_cor = nivel_cor;\nmsg.payload.gas_status = gas_status;\nmsg.payload.gas_cor = gas_cor;\nmsg.payload.capacidade_percent = Math.round(capacidade_percent);\nmsg.payload.alertas = [];\nmsg.payload.nivel_alerta = false;\nmsg.payload.gas_alerta = false;\n\nif (nivel_status === \"cheia\") {\n    msg.payload.alertas.push(\"🚨 Lixeira Cheia\");\n    msg.payload.nivel_alerta = true;\n}\nif (gas_status === \"alto\") {\n    msg.payload.alertas.push(\"⚠️ Nível de Gás Alto\");\n    msg.payload.gas_alerta = true;\n}\nif (msg.payload.alerta_led_on) {\n    msg.payload.alertas.push(\"🔴 LED de Alerta Ativo\");\n}\n\nmsg.payload.saude_score = 100;\nif (msg.payload.nivel_alerta) msg.payload.saude_score -= 30;\nif (msg.payload.gas_alerta) msg.payload.saude_score -= 20;\nif (msg.payload.alerta_led_on) msg.payload.saude_score -= 10;\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 670,
        "y": 140,
        "wires": [
            [
                "mongodb-insert",
                "dashboard-processed1",
                "alert-manager",
                "update-capacidade"
            ]
        ]
    },
    {
        "id": "process-data2",
        "type": "function",
        "z": "b50701220b28c73b",
        "name": "Processar Lixeira 2",
        "func": "var peso_status = \"normal\";\nvar peso_cor = \"green\";\nif (msg.payload.peso_kg >= 5.0) {\n    peso_status = \"cheia\";\n    peso_cor = \"red\";\n} else if (msg.payload.peso_kg >= 3.0) {\n    peso_status = \"medio\";\n    peso_cor = \"yellow\";\n}\n\nvar temp_status = \"normal\";\nvar temp_cor = \"green\";\nif (msg.payload.temperatura > 35) {\n    temp_status = \"alta\";\n    temp_cor = \"red\";\n} else if (msg.payload.temperatura > 30) {\n    temp_status = \"elevada\";\n    temp_cor = \"orange\";\n} else if (msg.payload.temperatura < 15) {\n    temp_status = \"baixa\";\n    temp_cor = \"blue\";\n}\n\nvar umidade_status = \"normal\";\nvar umidade_cor = \"green\";\nif (msg.payload.umidade > 80) {\n    umidade_status = \"alta\";\n    umidade_cor = \"blue\";\n} else if (msg.payload.umidade < 30) {\n    umidade_status = \"baixa\";\n    umidade_cor = \"orange\";\n}\n\nvar capacidade_percent = Math.min(100, (msg.payload.peso_kg / 5.0) * 100);\n\nmsg.payload.peso_status = peso_status;\nmsg.payload.peso_cor = peso_cor;\nmsg.payload.temp_status = temp_status;\nmsg.payload.temp_cor = temp_cor;\nmsg.payload.umidade_status = umidade_status;\nmsg.payload.umidade_cor = umidade_cor;\nmsg.payload.capacidade_percent = Math.round(capacidade_percent);\nmsg.payload.alertas = [];\nmsg.payload.peso_alerta = false;\nmsg.payload.temp_alerta = false;\n\nif (peso_status === \"cheia\") {\n    msg.payload.alertas.push(\"🚨 Lixeira Cheia\");\n    msg.payload.peso_alerta = true;\n}\nif (temp_status === \"alta\") {\n    msg.payload.alertas.push(\"🌡️ Temperatura Alta\");\n    msg.payload.temp_alerta = true;\n}\nif (msg.payload.tampa_aberta) {\n    msg.payload.alertas.push(\"🔓 Tampa Aberta\");\n}\n\nmsg.payload.saude_score = 100;\nif (msg.payload.peso_alerta) msg.payload.saude_score -= 30;\nif (msg.payload.temp_alerta) msg.payload.saude_score -= 20;\nif (msg.payload.tampa_aberta) msg.payload.saude_score -= 10;\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 670,
        "y": 240,
        "wires": [
            [
                "mongodb-insert",
                "dashboard-processed2",
                "alert-manager",
                "update-capacidade"
            ]
        ]
    },
    {
        "id": "mongodb-insert",
        "type": "mongodb out",
        "z": "b50701220b28c73b",
        "mongodb": "7c943905cfd50d5f",
        "name": "MongoDB Atlas",
        "collection": "waste_data",
        "payonly": true,
        "upsert": false,
        "multi": false,
        "operation": "insert",
        "x": 960,
        "y": 180,
        "wires": []
    },
    {
        "id": "mongodb-status",
        "type": "function",
        "z": "b50701220b28c73b",
        "name": "Status MongoDB",
        "func": "if (msg.error) {\n    node.status({fill:\"red\",shape:\"ring\",text:\"Erro MongoDB: \" + msg.error});\n} else {\n    node.status({fill:\"green\",shape:\"dot\",text:\"Dados salvos\"});\n    console.log(\"Dados salvos no MongoDB:\", {\n        lixeira: msg.payload.lixeira_id,\n        timestamp: msg.payload.timestamp_manaus,\n        capacidade: msg.payload.capacidade_percent + \"%\"\n    });\n}\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1210,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "alert-manager",
        "type": "function",
        "z": "b50701220b28c73b",
        "name": "Gerenciar Alertas",
        "func": "var alertasCriticos = [];\n\nif (msg.payload.nivel_alerta) {\n    alertasCriticos.push({\n        tipo: \"nivel_cheio\",\n        mensagem: \"Lixeira \" + msg.payload.lixeira_id + \" está cheia\",\n        cor: \"red\",\n        icone: \"🚨\",\n        prioridade: \"alta\"\n    });\n}\n\nif (msg.payload.gas_alerta) {\n    alertasCriticos.push({\n        tipo: \"gas_alto\",\n        mensagem: \"Nível de gás alto na \" + msg.payload.lixeira_id,\n        cor: \"orange\",\n        icone: \"⚠️\",\n        prioridade: \"media\"\n    });\n}\n\nif (msg.payload.temp_alerta) {\n    alertasCriticos.push({\n        tipo: \"temperatura_alta\",\n        mensagem: \"Temperatura alta na \" + msg.payload.lixeira_id,\n        cor: \"red\",\n        icone: \"🌡️\",\n        prioridade: \"alta\"\n    });\n}\n\nif (alertasCriticos.length > 0) {\n    var alertMsg = {\n        payload: alertasCriticos,\n        topic: \"alertas_criticos\",\n        lixeira: msg.payload.lixeira_id\n    };\n    \n    node.send([null, alertMsg]);\n}\n\nreturn msg;",
        "outputs": 2,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 910,
        "y": 760,
        "wires": [
            [],
            [
                "ui-alert-panel",
                "ui-alert-notification"
            ]
        ]
    },
    {
        "id": "update-capacidade",
        "type": "function",
        "z": "b50701220b28c73b",
        "name": "Atualizar Capacidades",
        "func": "if (msg.payload.lixeira_id === \"lixeira1\") {\n    return [\n        {payload: msg.payload.capacidade_percent, topic: \"capacidade_l1\"},\n        {payload: msg.payload.saude_score, topic: \"saude_l1\"}\n    ];\n} else if (msg.payload.lixeira_id === \"lixeira2\") {\n    return [\n        {payload: msg.payload.capacidade_percent, topic: \"capacidade_l2\"},\n        {payload: msg.payload.saude_score, topic: \"saude_l2\"}\n    ];\n}\nreturn msg;",
        "outputs": 2,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 920,
        "y": 520,
        "wires": [
            [
                "ui-capacidade-l1",
                "ui-capacidade-l2"
            ],
            [
                "ui-saude-l1",
                "ui-saude-l2"
            ]
        ]
    },
    {
        "id": "dashboard-live1",
        "type": "function",
        "z": "b50701220b28c73b",
        "name": "Dashboard Live Lixeira 1",
        "func": "try {\n    var data = JSON.parse(msg.payload);\n    \n    var messages = [];\n    \n    messages.push({\n        topic: \"nivel\",\n        payload: data.nivel_cm,\n        lixeira: \"lixeira1\"\n    });\n    \n    messages.push({\n        topic: \"gas\",\n        payload: data.gas_mq2,\n        lixeira: \"lixeira1\"\n    });\n    \n    messages.push({\n        topic: \"alerta\",\n        payload: data.alerta_led_on ? \"ATIVO\" : \"NORMAL\",\n        lixeira: \"lixeira1\"\n    });\n    \n    return [messages];\n    \n} catch (error) {\n    node.error(\"Erro processamento live: \" + error);\n    return null;\n}",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 360,
        "wires": [
            [
                "ui-gauge-nivel",
                "ui-chart-gas",
                "ui-indicator-alerta"
            ]
        ]
    },
    {
        "id": "dashboard-live2",
        "type": "function",
        "z": "b50701220b28c73b",
        "name": "Dashboard Live Lixeira 2",
        "func": "try {\n    var data = JSON.parse(msg.payload);\n    \n    var messages = [];\n    \n    messages.push({\n        topic: \"temperatura\",\n        payload: data.temperatura,\n        lixeira: \"lixeira2\"\n    });\n    \n    messages.push({\n        topic: \"umidade\",\n        payload: data.umidade,\n        lixeira: \"lixeira2\"\n    });\n    \n    messages.push({\n        topic: \"peso\",\n        payload: data.peso_kg,\n        lixeira: \"lixeira2\"\n    });\n    \n    messages.push({\n        topic: \"tampa\",\n        payload: data.tampa_aberta ? \"ABERTA\" : \"FECHADA\",\n        lixeira: \"lixeira2\"\n    });\n    \n    return [messages];\n    \n} catch (error) {\n    node.error(\"Erro processamento live: \" + error);\n    return null;\n}",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 440,
        "wires": [
            [
                "ui-gauge-temp",
                "ui-chart-umidade",
                "ui-gauge-peso",
                "ui-indicator-tampa"
            ]
        ]
    },
    {
        "id": "dashboard-processed1",
        "type": "debug",
        "z": "b50701220b28c73b",
        "name": "Debug Lixeira 1 Processada",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 940,
        "y": 40,
        "wires": []
    },
    {
        "id": "dashboard-processed2",
        "type": "debug",
        "z": "b50701220b28c73b",
        "name": "Debug Lixeira 2 Processada",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 980,
        "y": 320,
        "wires": []
    },
    {
        "id": "ui-gauge-nivel",
        "type": "ui_gauge",
        "z": "b50701220b28c73b",
        "name": "Nível Lixeira 1",
        "group": "dashboard-group1",
        "order": 1,
        "width": 6,
        "height": 4,
        "gtype": "gage",
        "title": "Nível da Lixeira (cm)",
        "label": "units",
        "format": "{{value}} cm",
        "min": 0,
        "max": 50,
        "colors": [
            "#00CA51",
            "#FFC400",
            "#FF3B3B"
        ],
        "seg1": "15",
        "seg2": "5",
        "x": 1280,
        "y": 460,
        "wires": []
    },
    {
        "id": "ui-chart-gas",
        "type": "ui_chart",
        "z": "b50701220b28c73b",
        "name": "Sensor de Gás MQ2",
        "group": "dashboard-group1",
        "order": 2,
        "width": 6,
        "height": 4,
        "label": "Nível de Gás",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "smooth",
        "nodata": "Aguardando dados...",
        "dot": true,
        "ymin": "0",
        "ymax": "1024",
        "removeOlder": 1,
        "removeOlderPoints": "60",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#FF6B6B"
        ],
        "outputs": 0,
        "x": 1290,
        "y": 510,
        "wires": []
    },
    {
        "id": "ui-indicator-alerta",
        "type": "ui_text",
        "z": "b50701220b28c73b",
        "group": "dashboard-group1",
        "order": 3,
        "width": 6,
        "height": 2,
        "name": "Status Alerta LED",
        "label": "🔴 Status do Alerta",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "className": "alert-indicator",
        "x": 1290,
        "y": 560,
        "wires": []
    },
    {
        "id": "ui-gauge-temp",
        "type": "ui_gauge",
        "z": "b50701220b28c73b",
        "name": "Temperatura Lixeira 2",
        "group": "dashboard-group2",
        "order": 1,
        "width": 4,
        "height": 4,
        "gtype": "gage",
        "title": "Temperatura",
        "label": "units",
        "format": "{{value}}°C",
        "min": 0,
        "max": 50,
        "colors": [
            "#4FC3F7",
            "#81C784",
            "#FFF176",
            "#FFB74D",
            "#FF8A65"
        ],
        "seg1": "20",
        "seg2": "30",
        "x": 1290,
        "y": 610,
        "wires": []
    },
    {
        "id": "ui-chart-umidade",
        "type": "ui_chart",
        "z": "b50701220b28c73b",
        "name": "Umidade Lixeira 2",
        "group": "dashboard-group2",
        "order": 2,
        "width": 4,
        "height": 4,
        "label": "Umidade Relativa",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "smooth",
        "nodata": "Aguardando dados...",
        "dot": true,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "60",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#42A5F5"
        ],
        "outputs": 0,
        "x": 1290,
        "y": 660,
        "wires": []
    },
    {
        "id": "ui-gauge-peso",
        "type": "ui_gauge",
        "z": "b50701220b28c73b",
        "name": "Peso Lixeira 2",
        "group": "dashboard-group2",
        "order": 3,
        "width": 4,
        "height": 4,
        "gtype": "gage",
        "title": "Peso da Lixeira",
        "label": "units",
        "format": "{{value}} kg",
        "min": 0,
        "max": 10,
        "colors": [
            "#66BB6A",
            "#FFEE58",
            "#EF5350"
        ],
        "seg1": "3",
        "seg2": "5",
        "x": 1290,
        "y": 710,
        "wires": []
    },
    {
        "id": "ui-indicator-tampa",
        "type": "ui_text",
        "z": "b50701220b28c73b",
        "group": "dashboard-group2",
        "order": 4,
        "width": 4,
        "height": 2,
        "name": "Status Tampa",
        "label": "🔓 Status da Tampa",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "x": 1290,
        "y": 760,
        "wires": []
    },
    {
        "id": "ui-capacidade-l1",
        "type": "ui_gauge",
        "z": "b50701220b28c73b",
        "name": "Capacidade Lixeira 1",
        "group": "dashboard-group3",
        "order": 1,
        "width": 6,
        "height": 4,
        "gtype": "gage",
        "title": "Capacidade Lixeira 1",
        "label": "units",
        "format": "{{value}}%",
        "min": 0,
        "max": 100,
        "colors": [
            "#00E676",
            "#FFEA00",
            "#FF3D00"
        ],
        "seg1": "50",
        "seg2": "80",
        "x": 1290,
        "y": 810,
        "wires": []
    },
    {
        "id": "ui-capacidade-l2",
        "type": "ui_gauge",
        "z": "b50701220b28c73b",
        "name": "Capacidade Lixeira 2",
        "group": "dashboard-group3",
        "order": 2,
        "width": 6,
        "height": 4,
        "gtype": "gage",
        "title": "Capacidade Lixeira 2",
        "label": "units",
        "format": "{{value}}%",
        "min": 0,
        "max": 100,
        "colors": [
            "#00E676",
            "#FFEA00",
            "#FF3D00"
        ],
        "seg1": "50",
        "seg2": "80",
        "x": 1290,
        "y": 860,
        "wires": []
    },
    {
        "id": "ui-saude-l1",
        "type": "ui_gauge",
        "z": "b50701220b28c73b",
        "name": "Saúde Lixeira 1",
        "group": "dashboard-group4",
        "order": 1,
        "width": 6,
        "height": 4,
        "gtype": "gage",
        "title": "Saúde do Dispositivo 1",
        "label": "units",
        "format": "{{value}}%",
        "min": 0,
        "max": 100,
        "colors": [
            "#FF5252",
            "#FFB74D",
            "#4CAF50"
        ],
        "seg1": "50",
        "seg2": "80",
        "x": 1290,
        "y": 910,
        "wires": []
    },
    {
        "id": "ui-saude-l2",
        "type": "ui_gauge",
        "z": "b50701220b28c73b",
        "name": "Saúde Lixeira 2",
        "group": "dashboard-group4",
        "order": 2,
        "width": 6,
        "height": 4,
        "gtype": "gage",
        "title": "Saúde do Dispositivo 2",
        "label": "units",
        "format": "{{value}}%",
        "min": 0,
        "max": 100,
        "colors": [
            "#FF5252",
            "#FFB74D",
            "#4CAF50"
        ],
        "seg1": "50",
        "seg2": "80",
        "x": 1290,
        "y": 960,
        "wires": []
    },
    {
        "id": "ui-alert-panel",
        "type": "ui_template",
        "z": "b50701220b28c73b",
        "group": "dashboard-group5",
        "name": "Painel de Alertas",
        "order": 1,
        "width": 12,
        "height": 6,
        "format": "<div style=\"padding: 15px; background: #fff; border-radius: 10px; box-shadow: 0 2px 10px rgba(0,0,0,0.1);\">\n  <h3 style=\"margin-top: 0; color: #333; border-bottom: 2px solid #f0f0f0; padding-bottom: 10px;\">\n    🚨 Painel de Alertas\n  </h3>\n  <div id=\"alert-container\" style=\"max-height: 200px; overflow-y: auto;\">\n    <div ng-repeat=\"alert in msg.payload\" style=\"padding: 10px; margin: 5px 0; border-radius: 5px; background: {{alert.cor === 'red' ? '#FFEBEE' : alert.cor === 'orange' ? '#FFF3E0' : '#E8F5E8'}}; border-left: 4px solid {{alert.cor === 'red' ? '#F44336' : alert.cor === 'orange' ? '#FF9800' : '#4CAF50'}};\">\n      <strong>{{alert.icone}} {{alert.mensagem}}</strong>\n      <br><small style=\"color: #666;\">Prioridade: {{alert.prioridade}}</small>\n    </div>\n    <div ng-if=\"!msg.payload || msg.payload.length === 0\" style=\"text-align: center; color: #666; padding: 20px;\">\n      ✅ Nenhum alerta crítico\n    </div>\n  </div>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "x": 1290,
        "y": 1010,
        "wires": [
            []
        ]
    },
    {
        "id": "ui-alert-notification",
        "type": "ui_toast",
        "z": "b50701220b28c73b",
        "position": "top right",
        "displayTime": "10",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "x": 1290,
        "y": 1060,
        "wires": []
    },
    {
        "id": "hivemq-broker",
        "type": "mqtt-broker",
        "name": "HiveMQ Broker",
        "broker": "broker.hivemq.com",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "mqttdashboard-broker",
        "type": "mqtt-broker",
        "name": "MQTT Dashboard Broker",
        "broker": "broker.mqttdashboard.com",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "7c943905cfd50d5f",
        "type": "mongodb",
        "hostname": "clusterm0.7zmzs8b.mongodb.net",
        "topology": "dnscluster",
        "connectOptions": "",
        "port": 27017,
        "db": "smart-waste-mqtt",
        "name": "MongoDB Atlas"
    },
    {
        "id": "dashboard-group1",
        "type": "ui_group",
        "name": "Lixeira 1 - Monitoramento",
        "tab": "dashboard-tab",
        "order": 1,
        "disp": true,
        "width": 12,
        "collapse": false,
        "className": "dashboard-panel"
    },
    {
        "id": "dashboard-group2",
        "type": "ui_group",
        "name": "Lixeira 2 - Monitoramento",
        "tab": "dashboard-tab",
        "order": 2,
        "disp": true,
        "width": 12,
        "collapse": false,
        "className": "dashboard-panel"
    },
    {
        "id": "dashboard-group3",
        "type": "ui_group",
        "name": "Capacidade das Lixeiras",
        "tab": "dashboard-tab",
        "order": 3,
        "disp": true,
        "width": 12,
        "collapse": false,
        "className": "dashboard-panel"
    },
    {
        "id": "dashboard-group4",
        "type": "ui_group",
        "name": "Saúde dos Dispositivos",
        "tab": "dashboard-tab",
        "order": 4,
        "disp": true,
        "width": 12,
        "collapse": false,
        "className": "dashboard-panel"
    },
    {
        "id": "dashboard-group5",
        "type": "ui_group",
        "name": "Sistema de Alertas",
        "tab": "dashboard-tab",
        "order": 5,
        "disp": true,
        "width": 12,
        "collapse": false,
        "className": "dashboard-panel"
    },
    {
        "id": "dashboard-tab",
        "type": "ui_tab",
        "name": "Smart Waste Dashboard",
        "icon": "fa-trash-alt",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "50c8665d0ad471bd",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-node-mongodb": "0.2.5",
            "node-red-dashboard": "3.6.6"
        }
    }
]